<%= @simditorimgs.each do |s| %>
  <div style="display: block; border: 1px solid deepskyblue; font-weight: bold">
    <span style="text-align: center">|</span>
    <span style="display: inline-block; width: 50px; text-align: center;"><%= s.id %></span>
    <span style="text-align: center">|</span>
    <span><%= image_tag s.image, style:'display: inline-block; height: 100px;' %></span>
    <span style="text-align: center">|</span>
    <span style="text-align: center;"><%=s.created_at %></span>
  </div>
<% end %>